* {
  font-family: 'Mukta', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
}

body {
  background-color: #E5E5E5;
}

header {
  margin-left: 40px;
}

main {
  display: flex;
  margin-left: 80px;
  margin-bottom: 50px;
}

.input-texto {
  margin-top: 90px;
}

.informacao {
  font-size: 15px;
} 

.botoes {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.encriptar {
  background-color: #0A3871; 
  color: #fff;
}

.desencriptar {
  margin-left: 30px;
}

.mensagem {
  position: fixed;
  margin-top: 20px;
  margin-left: 90px;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 18px;
  background-size: 300px;
}

.copiar {
  position: relative;
  margin-top: 330px;
  margin-left: 205px;
}